<?xml version="1.0" encoding="utf-8"?>

<scene version="0.5.0">
	<integrator type="path">
		<integer name="maxDepth" value="10"/>
		<boolean name="strictNormals" value="true"/>
	</integrator>

	<sensor type="perspective">
		<float name="fov" value="45"/>
		<transform name="toWorld">
			<lookat origin="0, -160, 50" target="0, 0, 50" up="0, 0, 1"/>
		</transform>

		<sampler type="independent">
			<integer name="sampleCount" value="32"/>
		</sampler>

		<film type="hdrfilm">
			<rfilter type="box"/>
			<integer name="width" value="512"/>
			<integer name="height" value="512"/>
			<boolean name="banner" value="false"/>
		</film>
	</sensor>
</scene>
